@media screen and (max-width: 1200px) {
  header .logo{
    z-index: 10;
  }
  .main-nav{
    background: var(--white-bg);
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 15vh 8vw 10vh;
    transform: translateX(-100%);
    transition: transform .4s ease-out;
  }
  .main-nav .nav-item{
    font-size: 3em;
  }
  header .separator{
    display: block;
    width: 60%;
    height: 2px;
    background: #eee;
    align-self: center;
  }
  header .gradient-cta{
    align-self: center;
    font-size: 2em;
  }
  header .burger{
    z-index: 10;
    position: absolute;
    top: 2em;
    right: 6vw;
    display: flex;
    flex-direction: column;
    width: 4em;
    gap: .7em;
    background: none;
    border: none;
    cursor: pointer;
  }
  header .burger span{
    width: 100%;
    height: 5px;
    background: var(--black-text);
    border-radius: 99px;
  }
  .profil-btn p{
    display: block;
    font-size: 2em;
    font-weight: var(--semibold-wgt);
  }
  #hero p{
    max-width: 90%;
  }
  .galery-container h3{
    text-align: center;
  }
  .footer-up-container{
    flex-direction: column;
  }
  footer .logo{
    text-align: center;
  }
  footer .nav-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .account header{
    position: absolute;
    background: none;
    width: fit-content;
  }
  .account header a{
    color: var(--black-text);
  }
  .account main{
    width: 100%;
  }
  .account main form{
    width: 80%;
  }
  .link-line{
    width: 80%;
  }
}