/* RESET */
*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

:root{
  --primary-gradient: #820544;
  --secondary-gradient: #144D87;
  --gradient: linear-gradient(90deg, var(--primary-gradient) 10%, var(--secondary-gradient) 85%);
  --account-gradient: linear-gradient(-135deg, var(--primary-gradient) 10%, var(--secondary-gradient) 85%);
  --white-bg: #fff;
  --black-text: #000;
  --red-warning: #AE1B1B;
  --red-warning-opacity: #ae1b1bc8;
  --green-success: #1dae1b;
  --green-success-opacity: #1dae1bb3;
  --padding-header: 2vh 6vw;
  --padding-article: 10vh 6vw 0;
  --padding-footer: 6vh 6vw 8vh;
  --light-wgt: 300;
  --regular-wgt: 400;
  --medium-wgt: 500;
  --semibold-wgt: 600;
  --bold-wgt: 700;
  --article-title: 2.5em;
}

@font-face {
  font-family: Urbanist;
  src: url(/assets/font/Urbanist-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body{
  font-family: Urbanist, sans-serif;
  font-weight: var(--regular-wgt);
  color: var(--black-text);
  overflow-x: hidden;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-header);
  background: var(--white-bg);
  z-index: 1000;
}
header a{
  text-decoration: none;
  color: var(--black-text);
}
.logo{
  font-weight: var(--semibold-wgt);
  font-size: 2.5em;
}
.logo span{
  font-weight: var(--light-wgt);
}
.main-nav{
  display: flex;
  align-items: center;
  gap: 2.5em;
}
header .separator{
  display: none;
}
header .burger{
  display: none;
}
.main-nav .nav-item{
  font-size: 1.1em;
  color: var(--black-text);
  text-decoration: none;
  font-weight: var(--medium-wgt);
  position: relative;
}
.main-nav .nav-item::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--black-text);
  border-radius: 2px;
  scale: 0 1;
  transform-origin: right;
  transition: scale .3s ease-out;
}
.main-nav .nav-item:hover::before{
  scale: 1;
  transform-origin: left;
}
.main-nav .add-nav-item{
  font-weight: var(--semibold-wgt);
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.add-nav-item::before{
  background: var(--gradient);
}
.cta{
  background: var(--black-text);
  border: none;
  font-size: 1.2em;
  border-radius: 999px;
  padding: .5em 0;
  transition: translate .3s ease-out;
  will-change: transform;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta a{
  color: var(--white-bg);
  text-decoration: none;
  padding: 0 1.5em;
}
.cta:hover{
  translate: 0 -5%;
}
.gradient-cta{
  background: var(--gradient);
}
.profil-btn{
  text-decoration: none;
  color: var(--black-text);
  display: flex;
  align-items: center;
  gap: 1em;
}
.profil-btn p{
  display: none;
}
.profil-btn img{
  width: 4em;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 999px;
  overflow: hidden;
}

#hero{
  background: center top / cover no-repeat url(/assets/bg/bg1.png);
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding: 3em 0;
}
#hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-text);
  opacity: 30%;
  z-index: 1;
}
#hero h2{
  font-size: 3em;
  font-weight: var(--bold-wgt);
  text-align: center;
}
#hero p{
  max-width: 40%;
  text-align: center;
}
.hero-text{
  color: var(--white-bg);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
#hero button{
  z-index: 2;
}
.galery-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-bottom: 3em;
}
.galery-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-article);
  width: 100%;
  font-size: 1em;
}
.galery-title form{
  color: var(--white-bg);
  display: flex;
  align-items: center;
  gap: 1em;
  background: var(--black-text);
  padding: .5em 1.5em;
  border-radius: 99px
}
.galery-title select{
  background: none;
  outline: none;
  border: none;
  color: var(--white-bg);
  font-family: Urbanist, sans-serif;
  font-size: 1em;
  cursor: pointer;
}
.galery-title option{
  background: var(--black-text);
}
.galery-title .order-submit{
  background: none;
  border: none;
  color: var(--white-bg);
  font-size: 1.2em;
  cursor: pointer;
}
.galery-container h3{
  font-size: var(--article-title);
}
.galery-container .home{
  width: 100%;
  padding: var(--padding-article);
}
.grid-galery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 23%));
  width: 100%;
  padding: var(--padding-header);
  gap: 2em;
}
.grid-item{
  width: 100%;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  aspect-ratio: 4/3;
}
.grid-item-img{
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
}
.grid-item-overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 25%;
  padding: 1em;
  opacity: 0;
  transition: opacity .2s ease-out;
}
.grid-item:hover .grid-item-overlay{
  opacity: 1;
}
.overlay-user{
  background: linear-gradient(180deg, rgba(0,0,0,.6) 0%,  rgba(0,0,0,0) 100%);
  top: 0;
  display: flex;
  justify-content: space-between;
}
.overlay-user .edit-btn{
  font-size: 1.2em;
}
.overlay-user a{
  display: flex;
  align-items: center;
  gap: .6em;
  text-decoration: none;
  color: var(--white-bg);
}
.overlay-user img{
  width: 3em;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 999px;
}
.overlay-user p{
  font-size: 1.1em;
}
.overlay-infos{
  background: linear-gradient(0deg, rgba(0,0,0,.6) 0%,  rgba(0,0,0,0) 100%);
  bottom: 0;
  display: flex;
  align-items: end;
}
.overlay-line{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.overlay-line a{
  text-decoration: none;
  color: var(--white-bg);
  font-size: 1.1em;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay-like{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 25%; 
}
.overlay-like .like-form{
  display: flex;
  gap: .3em;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: white;
}
.overlay-like button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.overlay-like button svg{
  width: 1.6em;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.overlay-like .liked svg{
  fill: #AE1B1B;
  stroke: none;
}

.gototop{
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--black-text);
  transition: opacity .3s ease;
  cursor: pointer;
  opacity: 0;
}
.gototop i {
  font-size: 2em;
}
.gototop p{
  font-size: 1.1em;
  writing-mode: vertical-lr;
  font-weight: var(--semibold-wgt);
}
.gototop:hover{
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer{
  display: flex;
  flex-direction: column;
  background: var(--gradient);
  color: var(--white-bg);
  margin-top: 5em;
}
.footer-up-container{
  display: flex;
  justify-content: space-between;
  padding: var(--padding-footer);
}
footer .logo{
  color: var(--white-bg);
  text-decoration: none;
  font-size: 4em;
  height: fit-content;
}
footer .nav-container{
  display: flex;
  justify-content: end;
  gap: 5em;
  padding-top: 3em;
}
footer .nav-container nav{
  display: flex;
  flex-direction: column;
  gap: .5em;
}
footer .nav-container a{
  color: var(--white-bg);
  text-decoration: none;
  font-weight: var(--light-wgt);
  position: relative;
  width: fit-content;
}
footer .nav-container a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background: var(--white-bg);
  scale: 0 1;
  transform-origin: right;
  transition: scale .4s ease-out;
}
footer .nav-container a:hover::before{
  scale: 1;
  transform-origin: left;
}
footer .nav-title{
  font-size: 1.3em;
  font-weight: var(--bold-wgt);
  margin-bottom: .3em;
  margin-left: -.5em;
}
.footer-line{
  text-align: center;
  width: 100%;
  background: var(--white-bg);
  color: var(--black-text);
  padding: .4em;
  font-size: 1.2em;
  font-weight: var(--medium-wgt);
}
.footer-line span{
  font-weight: var(--light-wgt);
}
.footer-line a{
  color: var(--black-text);
}

/* login form */
body.account{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100vh;
  position: relative;
}
.account header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: var(--account-gradient);
  padding: 2vh 4vw;
  width: 30%;
  height: 100vh;
}
.account header a{
  color: var(--white-bg);
}
.account main{
  padding: 6em 0;
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5em;
}
.account main h2{
  font-size: 4em;
  text-align: center;
}
.account main > p{
  font-size: 1.1em;
  max-width: 50%;
}
.account main form{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;
  width: 45%;
}
.account main p a{
  color: var(--black-text);
}
form#signup, form#reset{
  width: 60%;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5em;
  width: 100%;
}
.input-line{
  width: 100%;
  display: flex;
  gap: 2em;
}
.input-container label{
  font-size: 1.5em;
  font-weight: var(--semibold-wgt);
  margin-left: -.6em;
  width: 100%;
}
.input-container input, .input-container select, .input-container textarea{
  font-family: Urbanist, sans-serif;
  font-size: 1.2em;
  padding: .5em 1em;
  width: 100%;
  border: 2px solid var(--black-text);
  border-radius: 15px;
}
.input-container textarea{
  resize: none;
  min-height: 7em;
  overflow-y: hidden;
}
.input-container select{
  cursor: pointer;
}
.special-input{
  display: flex;
  align-items: center;
  border: 2px solid var(--black-text);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
.special-input span{
  font-size: 1.4em;
  background: #e4e4e4;
  padding: .3em .5em;
}
.special-input input{
  border: none;
  padding: 0 .5em;
  outline: none;
}
.special-input .file-label{
  padding: 0 1em;
  font-size: 1.1em;
  font-weight: var(--medium-wgt);
  opacity: .6;
  cursor: pointer;
}
.special-input input[type=file]{
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.form-btn{
  font-size: 1.2em;
  padding: .8em 1.6em;
  background: var(--black-text);
  color: var(--white-bg);
  border: none;
  border-radius: 15px;
  width: fit-content;
  cursor: pointer;
  transition: transform .4s ease-out;
}
.form-btn:hover{
  transform: translateY(-.1em);
}
.link-line{
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-line a{
  text-decoration: none;
  color: var(--black-text);
  position: relative;
}
.link-line a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: var(--black-text);
  transform-origin: right;
  scale: 0 1;
  transition: scale .4s ease-out;
}
.link-line a:hover::before{
  scale: 1;
  transform-origin: left;
}
.gradient-text{
  font-weight: var(--semibold-wgt);
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
a.gradient-text::before{
  background: var(--gradient);
}
.main-title{
  font-size: 4em;
  text-align: center;
}
main#add{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  margin-top: 5em;
}
main#add form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
main#add .input-file{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main#add .input-file .input-container small{
  max-width: 50%;
}
main#add .input-file .special-input{
  width: 30%;
  min-width: 300px;
}
main#add .input-line>:nth-child(1){
  width: 170%;
}
main#add .input-file .input-file-preview{
  max-width: 30%;
  display: flex;
}
.input-file-preview img, .input-file-preview video{
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
main#add .file-preview-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
}
main#add .file-preview-grid img, main#add .file-preview-grid video{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
}
main#page, main#update form, main#contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 3vh 20vw;
}
main#page .project-link{
  text-decoration: none;
  color: var(--black-text);
  font-size: 1.2em;
  font-weight: var(--medium-wgt);
  width: fit-content !important;
  align-self: flex-start;
}
main#page .project-link:hover{
  opacity: .8;
}
main#page>:nth-child(n), main#update form>:nth-child(n){
  width: 100%;
}
main#page .tool-bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main#page .close-btn, main#update .close-btn{
  text-decoration: none;
  color: var(--black-text);
  font-size: 1.3em;
}
main#page .close-btn:hover, main#update .close-btn:hover{
  color: var(--red-warning);
}
main#page .edit-btn{
  font-size: 1.3em;
  color: var(--black-text);
  text-decoration: none;
}
main#page .edit-btn:hover{
  color: var(--secondary-gradient);
}
main#page .user-infos, main#update .user-infos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main#page .user, main#update .user{
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: var(--black-text);
  font-size: 1.3em;
}
main#page .user img, main#update .user img{
  width: 4em;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 99px;
}
main#page .user p:hover, main#update .user p:hover{
  opacity: .8;
}
main#page .like form{
  display: flex;
  align-items: end;
  gap: .2em;
  font-size: 1.3em;
}
main#page .like button{
  background: transparent;
  border: none;
  cursor: pointer;
}
main#page .like button svg{
  width: 1.6em;
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
main#page .like .liked svg{
  fill: #AE1B1B;
  stroke: none;
}
main#page .creation-infos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: -1em;
  font-weight: var(--semibold-wgt);
}
main#page .apercu{
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20px;
}
main#page .description{
  padding: 0 2em;
  font-size: 1.4em;
  font-weight: var(--medium-wgt);
}
main#page .galery{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main#page .galery img, main#page .galery video{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
main#page .galery>img, main#page .galery>video{
  border-radius: 20px;
}
main#page .galery-selector{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
}
main#page .galery-selector img:nth-child(n), main#page .galery-selector video:nth-child(n){
  width: 100%;
  border-radius: 15px;
}
main#page .galery-selector img:nth-child(n):not(.galery-active), main#page .galery-selector video:nth-child(n):not(.galery-active){
  border: 3px solid #fff;
  cursor: pointer;
}
main#page .galery-active{
  border: 3px solid var(--primary-gradient);
}
main#page .galery-selector img:nth-child(n):not(.galery-active):hover, main#page .galery-selector video:nth-child(n):not(.galery-active):hover{
  border: 3px solid #e4e4e4;
}
main#profil{
  padding: 8vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7em;
}
main#profil>:nth-child(n){
  width: 100%;
}
main#profil .user-container{
  display: flex;
  gap: 2em;
}
main#profil .user-avatar{
  min-width: 100px;
  width: 30em;
  max-width: 200px;
}
main#profil .user-avatar img{
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px
}
main#profil .user-infos{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}
main#profil .user-line{
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}
main#profil .cta{
  height: fit-content;
}
main#profil .user-name .fullname{
  font-size: 3em;
}
main#profil .user-name .username{
  font-size: 2em;
}
main#profil .user-btn{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
main#profil .user-bio-title{
  font-size: 1.1em;
  font-weight: var(--bold-wgt);
}
main#profil .user-bio-text{
  padding: .5em;
  width: 60%;
}
main#profil .user-social{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
}
main#profil .user-social a{
  text-decoration: none;
  color: var(--black-text);
}
main#profil .user-social a:hover{
  opacity: .8;
}
.grid-item.add{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  border: 2px solid #e4e4e4;
}
.grid-item.add p{
  font-size: 1.5em;
  text-align: center;
  font-weight: var(--semibold-wgt);
}
main#profil .creations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
main#profil .tab-bar{
  display: flex;
  gap: 2em;
  align-items: center;
  width: 90%;
}
main#profil .tab-bar p{
  font-size: 1.2em;
  font-weight: var(--semibold-wgt);
  position: relative;
  cursor: pointer;
}
main#profil .tab-bar p:not(.active){
  color: #c1c1c1;
}
main#profil .tab-bar p.active::before{
  content: "";
  position: absolute;
  left: 37.5%;
  bottom: -5px;
  width: 25%;
  height: 3px;
  border-radius: 99px;
  background: var(--black-text);
}
main#profil .grid-profil{
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 31%));
  padding: 0;
}
.form-alert{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  max-width: 700px;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}
.form-alert i{
  font-size: 1.7em;
  padding: .5em;
}
.form-alert p{
  font-size: 1.2em;
  width: 100%;
}
.form-alert a{
  color: var(--black-text);
}
.form-alert button{
  background: none;
  border: none;
  cursor: pointer;
  align-self: start;
  justify-self: flex-end;
}
.form-alert button i{
  background: none;
  padding: .5em .1em;
}
.form-error{
  border-color: var(--red-warning);
  background: var(--red-warning-opacity);
}
.form-error i{
  background: var(--red-warning);
}
.form-success{
  border-color: var(--green-success);
  background: var(--green-success-opacity);
}
.form-success i{
  background: var(--green-success);
}
.form-modal{
  z-index: 10000;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
main#setting{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  width: 100%;
}
main#setting h2, main#contact h2{
  font-size: 4em;
  text-align: center;
  width: 100%;
}
main#setting .tab-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
main#setting .tab-bar p, main#setting .tab-bar a{
  text-decoration: none;
  color: var(--black-text);
  font-size: 1.2em;
  font-weight: var(--semibold-wgt);
  position: relative;
  cursor: pointer;
}
main#setting .tab-bar p:not(.active){
  color: #c1c1c1;
}
main#setting .tab-bar p.active::before{
  content: "";
  position: absolute;
  left: 37.5%;
  bottom: -5px;
  width: 25%;
  height: 3px;
  border-radius: 99px;
  background: var(--black-text);
}
main#setting .tab-bar a{
  color: var(--red-warning);
}
main#setting .setting-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
main#setting form:not(.modal-form){
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main#setting .input-file{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3em;
}
main#setting .separator{
  width: 50%;
  height: 2px;
  border-radius: 99px;
  margin: 1em 0;
  background-color: #e4e4e4;
}
main#setting .input-file img{
  max-width: 150px;
  border-radius: 999px;
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
}
main#setting .input-file input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}
main#setting .input-file-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main#setting .input-file-btn-container{
  display: flex;
  align-items: center;
  gap: 2em;
}
main#setting .input-file-btn label{
  cursor: pointer;
  border: 2px solid var(--black-text);
  border-radius: 999px;
  padding: .5em 1em;
  font-weight: var(--medium-wgt);
}
main#setting .file-btn label{
  background-color: var(--black-text);
  color: var(--white-bg);
}
main#setting .delete-btn input:hover + label{
  color: var(--red-warning);
  border: 2px solid var(--red-warning);
}
main#setting .delete-data-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  border: 2px solid var(--red-warning);
  border-radius: 15px;
  padding: 1em 2em;
  gap: 2em;
}
main#setting .delete-data-text .title{
  font-size: 1.4em;
  font-weight: var(--semibold-wgt);
  margin-bottom: .5em;
}
main#setting .delete-data-text span{
  font-weight: var(--bold-wgt);
}
.delete-data-cta{
  border: 2px solid var(--red-warning);
  border-radius: 999px;
  padding: .7em 1.4em;
  background: none;
  font-size: 1em;
  font-weight: var(--semibold-wgt);
  color: var(--red-warning);
  transition: transform .4s ease;
  cursor: pointer;
}
.delete-data-cta:hover{
  transform: translateY(-2px);
}
.setting-data-modal{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.setting-data-modal .modal-inner{
  background-color: var(--white-bg);
  padding: 3em 4em;
  border-radius: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  box-shadow: 0 0 2em #00000092;
}
.setting-data-modal .separator{
  width: 80% !important;
}
.setting-data-modal .title{
  font-size: 2em;
  font-weight: var(--semibold-wgt);
  text-align: center;
}
.setting-data-modal p:not(.title) span{
  font-weight: var(--bold-wgt);
}
.setting-data-modal .btn-line{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
}
.setting-data-modal .modal-form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
.setting-data-modal form .delete-btn{
  background: none;
  border: 2px solid var(--red-warning);
  color: var(--red-warning);
  border-radius: 999px;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: var(--semibold-wgt);
  cursor: pointer;
  transition: transform .4s ease;
}
.setting-data-modal form .delete-btn:hover{
  transform: translateY(-2px);
}
main#update{
  width: 100%;
}
main#update .apercu-preview{
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 4/3;
}
main#update .apercu-preview img, main#update .apercu-preview video{
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 100%;
}
main#update .input-line .input-container:first-child{
  width: 130%;
}
main#update .input-line .input-container:nth-child(2){
  width: 100%;
}
main#update .input-line .input-container:last-child{
  width: 30%;
}
main#update .input-file{
  display: flex;
  align-items: center;
  gap: 2em;
  width: 60% !important;
  align-self: flex-start;
}
main#update .input-file-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
main#update .input-file-line .input-file{
  align-self: center;
}
main#update .input-file-line .galery-preview{
  min-width: 30%;
  width: 30%;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: 15px;
}
main#update .input-file-line .galery-preview img, main#update .input-file-line .galery-preview video{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
main#update .btn-line{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
main#update .input-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  width: 100%;
}
main#update .checkbox{
  font-size: 1em;
  font-weight: var(--regular-wgt);
  display: flex;
  align-items: center;
  width: 100%;
}
main#update .checkbox input{
  width: fit-content;
}
#otp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}
#otp p{
  font-size: 2em;
}
#otp input{
  aspect-ratio: 1;
  max-width: fit-content;
  width: 3em;
  text-align: center;
}
main#admin h2{
  font-size: 4em;
  text-align: center;
}
main#admin .line-table{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  width: 100%;
  padding: 3vh 20vw;
}
main#admin .table{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
main#admin .table h3{
  font-size: 2em;
}
main#admin td, main#admin th, main#admin table{
  border: 1px solid var(--black-text);
  border-collapse: collapse;
}
main#admin td, main#admin th{
  padding: .5em 1em;
  text-align: center;
}
main#admin .table .add-admin{
  width: 100%;
  display: flex;
  gap: 1em;
}
main#admin .add-admin input{
  width: 100%;
  font-size: 1em;
  padding: .5em;
}
main#admin .add-admin button{
  width: 20%;
  font-size: 1.2em;
}